.footer
  .footer__top
    = link_to root_path do
      鯛良
  .footer__mdl
    （株）エバンスダイナリー
  .footer__btm
    .footer__btm-info
      = link_to "#" do
        %i.fa.fa-info-circle
    .footer__btm-menu
      = link_to "#" do
        %i.fa.fa-book-open
    .footer__btm-tel
      = link_to "#" do
        %i.fa.fa-phone
    .footer__btm-review
      = link_to "" do
        %i.fa.fa-smile

